arc-tween-chart {
	.middle-text {
		font-size: 18px;
	}

	.chart-container {
		position: relative;
    margin-bottom: 3vh;

		.svg-icon {
			position: absolute;
      margin: auto;
			top: 26%;
			left: 0;
			right: 0;
			width: auto;
			height: 13vh;
		}
	}
}
