<div class="chart-container">
  <div *ngIf="loading">
    <app-spinner [text]="">
    </app-spinner>
  </div>
  <svg preserveAspectRatio="xMidYMid meet">
    <g>
      <text
        text-anchor="middle"
        class="middle-text"
        [ngStyle]="{ fill: textColor }"
        y="50"
      >
        {{ centerValue }}  {{ centerLabel }}
      </text>
    </g>
  </svg>
  <div
    class="svg-icon"
    [ngStyle]="{
      '-webkit-mask': _getSvg(), 'background-color': meterIconColor,
      'mask': _getSvg(), 'background-color': meterIconColor
    }"
  >
  </div>
</div>
