arc-tween-chart {
	.middle-text {
		fill: orange;
		font-size: 18px;
	}

	.chart-container {
		position: relative;

		img {
			position: absolute;
			width: 15vw;
       margin: auto;
			top: 0;
			left: 0;
       right: 0;
       bottom: 15%;
		}
	}
}
