@import "../../styles/variables";

navigation-bar {
  .navigation-container {
    display: flex;
    margin: 2vh 0 0 0;
    justify-content: center;
    border-top: solid 2px $navigation-border;

    .icon-item {
      color: $navigation-icon;
      font-size: 30px;
      width: 33%;
      padding: 12px 0;
      text-align: center;
      border-right: solid 2px $navigation-border;
    }

    :nth-child(4) {
      border-right: none;
    }

    .btn-selected {
      color: $item-selected !important;
    }
  }
}
