<div class="navigation-container">
  <ion-icon
    class="icon-item"
    name="radio-button-on"
    [class.btn-selected]="_currentSelection === _navigationItems.ARC_CHART"
    (tap)="_onTap(_navigationItems.ARC_CHART)"
  >
  </ion-icon>

  <ion-icon
    class="icon-item"
    name="pulse"
    [class.btn-selected]="_currentSelection === _navigationItems.LINE_CHART"
    (tap)="_onTap(_navigationItems.LINE_CHART)"
  >
  </ion-icon>

  <ion-icon
    class="icon-item"
    name="ribbon"
    [class.btn-selected]="_currentSelection === _navigationItems.COMPARISON"
    (tap)="_onTap(_navigationItems.COMPARISON)"
  >
  </ion-icon>

  <ion-icon
    class="icon-item"
    name="create"
    [class.btn-selected]="_currentSelection === _navigationItems.EDIT"
    (tap)="_onTap(_navigationItems.EDIT)"
  >
  </ion-icon>
</div>
