@font-face {
  font-family: "Bryant Pro Bold Alternate";
  src: url("BryantPro-BoldAlternate.otf");
}

@font-face {
  font-family: "Bryant Pro Light";
  src: url("BryantPro-LightAlternate.otf");
}

@font-face {
  font-family: "Bryant Pro Regular";
  src: url("BryantPro-RegularAlternate.otf");
}
