@import "../../../styles/variables";

utility-spending {
	.chart-card {
		margin: 0;
		margin-bottom: 12px;
		width: calc(100% - 12px);

		.header {
			margin: 10px 0px 10px 20px;
			position: relative;

			.status {
				position: absolute;
				top: -10px;
				right: 0;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 55px 55px 0;
				border-color: transparent #C22A17 transparent transparent;
			}

			.exclamation-icon {
				position: absolute;
				height: 40px;
				width: 45px;
				top: -12px;
				right: -5px;
			}
		}

		.card-content {
			height: 63vh;
			text-align: center;
		}

		.meter-name {
			font-size: 22px;
		}

		.spending-goal {
			text-align: center;
			font-size: 18px;
			opacity: .7;
			margin-bottom: 20px
		}

		.actual-cost {
			color: $dusty-gray;
			text-align: center;
			font-size: 48px;
		}
	}

}
