<ion-content>
  <ion-refresher (ionRefresh)="_updateAllMeters($event, 0)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="no-padding" *ngIf="_meters$ | async; let meters">
    <div *ngFor="let meter of meters; let i = index">
      <ion-card class="chart-card">
        <!-- Header -->
        <div class="header">
          <div [class.status]="_isUsageCostBehindGoal(meter)"></div>
          <img class="exclamation-icon" src="assets/exclamation.svg">
          <div class="meter-name">{{ meter._name }}</div>
        </div>

        <!-- Arc chart -->
        <div
          class="card-content"
          *ngIf="_currentNavigationItems[i] === _navigationItems.ARC_CHART"
          [@cardState]
        >
          <div *ngIf="meter._actualUsageCost !== null">
            <arc-tween-chart
              [outerArcValue]="meter._actualUsageCost"
              [innerArcValue]="_getDailyGoalCost(meter)"
              [totalValue]="meter._goal"
              [centerValue]="meter._usage / 1000 | number: '.1-2'"
              [centerLabel]="_getMeterConfig(meter, 'unit')"
              [textColor]="_getMeterConfig(meter, 'textColor')"
              [colors]="_getMeterConfig(meter, 'arcChartColors')"
              [meterIcon]="_getMeterConfig(meter, 'imgSrc')"
              [meterIconColor]="_getMeterConfig(meter, 'imgColor')"
              [animate]="i === 0 || i === _currentMeterIndex"
              [loading]="_meterLoading$ | async"
            ></arc-tween-chart>

            <!-- Updates meter when clicked -->
            <div
              class="actual-cost"
              [ngStyle]="{ 'color': _isUsageCostBehindGoal(meter) ? '#C22A17' : _getMeterConfig(meter, 'textColor') }"
              (click)="_updateMeter(meter, i)"
            >
              {{ meter._actualUsageCost | currency: 'USD': true: '1.2-2' }}
            </div>

            <div class="spending-goal">
              Spending goal of {{ meter._goal | currency:'USD': true: '1.2-2' }}
            </div>
          </div>
        </div>

        <!-- Line chart -->
        <div
          class="card-content"
          *ngIf="_currentNavigationItems[i] === _navigationItems.LINE_CHART"
          [@cardState]
        >
          <timespan-selector
            [selectedTimeSpan]="_selectedDateRanges[i].timeSpan"
            [disableNextButton]="_shouldDisableNextButton(i)"
            (timeSpanChanged)="_onTimeSpanClick($event, meter, i, 'timeTravel')"
            (itemTapped)="_onTimeTravelClick($event, meter, i, 'timeTravel')"
          ></timespan-selector>

          <div>{{ _showDateRange(i) }}</div>

          <div *ngIf="_reads$ | async as reads">
            <div *ngIf="_getDataByGuid(reads, meter._guid, i) as data">
              <line-chart
                [data]="data.deltas"
                [lineColors]="_getMeterConfig(meter, 'lineChartColors')"
                [loading]="_loadingReads$ | async"
                [animate]="_currentMeterIndex === i"
                [series]="['line1']"
                [dateFormat]="_selectedDateRanges[i].dateFormat"
                [showAreaFill]="true"
              ></line-chart>

              <div *ngIf="data.cost">
                <div
                  class="timespan-cost"
                  [ngStyle]="{ 'color': _getMeterConfig(meter, 'textColor') }"
                >
                  {{ data.cost.totalCost | currency:'USD': true: '1.2-2' }}
                </div>
                <div>
                  {{ data.cost.totalDelta / 1000 | number: '.1-2' }} {{ _getMeterConfig(meter, 'unit') }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Neigborhood comparison -->
        <div
          class="card-content"
          *ngIf="_currentNavigationItems[i] === _navigationItems.COMPARISON"
          [@cardState]
        >
          <timespan-selector
            [selectedTimeSpan]="_selectedDateRanges[i].timeSpan"
            [disableNextButton]="_shouldDisableNextButton(i)"
            (timeSpanChanged)="_onTimeSpanClick($event, meter, i, 'comparison')"
            (itemTapped)="_onTimeTravelClick($event, meter, i, 'comparison')"
          ></timespan-selector>

          <div>{{ _showDateRange(i) }}</div>

          <neighborhood-comparison
            [comparisonReads]="_comparison$ | async"
            [loading]="_comparisonLoading$ | async"
            [dateRange]="_selectedDateRanges[i]"
            [meter]="meter"
          >
          </neighborhood-comparison>
        </div>

        <!-- Device Edit -->
        <div
          class="card-content"
          *ngIf="_currentNavigationItems[i] === _navigationItems.EDIT"
          [@cardState]
        >
          <edit-meter-form
            [meter]="meter"
            [user]="user"
            (cancelClicked)="_onCancelEditMeter(meter, i)"
            (saveClicked)="_onSaveEditMeter($event, i)"
          ></edit-meter-form>
        </div>

        <!-- Navigation -->
        <navigation-bar
          [selectedItem]="_currentNavigationItems[i]"
          (itemTapped)="_onNavigationItemClick($event, meter, i)"
        ></navigation-bar>
      </ion-card>
    </div>

    <div padding *ngIf="!meters || meters.length === 0">
      <app-spinner [text]="'Please wait while loading...'">
      </app-spinner>
    </div>
  </div>
</ion-content>
