@import "../../../styles/variables";

utility-spending {
	.no-padding {
    padding: 0 !important;
	}

	.chart-card {
		border-radius: 4px;
		margin: 0 10px 10px 10px;
		.utilitiy-spending-header {
      color: $header-text;
      margin: 1vh 0 1vh 2vh;
			position: relative;
      height: 3vh;

			.meter-name {
				font-size: 22px;
			}
		}

		.card-content {
			height: 65vh;
      max-height: 450px;
      max-width: 450px;
			text-align: center;
			position: relative;

    .edit-card-content {
      height: 70vh;
	    max-width: 450px;
	    max-height: calc(450px + 5vh);
      text-align: center;
      position: relative;
    }

    .date-range {
      color: $header-text;
    }

		.meter-name {
			font-size: 3vh;
		}
			.goal-status {
				position: relative;

				.status {
					position: absolute;
					bottom: -14px;
					right: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 55px 55px 0;
					border-color: transparent #C22A17 transparent transparent;
				}

				.exclamation-icon {
					position: absolute;
					height: 5.5vh;
					width: 5.5vh;
					bottom: -2px;
					right: 0;
				}
			}

			.timeout-container {
				margin-top: 1rem;

		.timespan-cost {
			text-align: center;
			font-size: 48px;
      margin-top: -1.5vh;
		}

    .timespan-usage {
      font-size: 2.75vh;
      color: $header-text;
    }
				.refresh-icon {
					font-size: 6.2rem;
				}

				.timeout-text {
					font-size: 1.2rem;
				}
			}

			.spending-goal {
				color: $header-text;
				text-align: center;
				font-size: 2.75vh;
				margin-bottom: 5px;
			}

			.actual-cost {
				color: $dusty-gray;
				text-align: center;
				font-size: 48px;
			}

			.timespan-cost {
				text-align: center;
				font-size: 48px;
			}

			.timespan-usage {
				font-size: 15px;
			}

				.usage-label {
					display: flex;
					font-size: 15px;
          color: $header-text;
        }
      }
		}
			.show-all {
				text-align: right;
				margin-right: 20px;
			}

			.rank {
				position: absolute;
				top: -46px;
				right: 0;
				height: 58px;
				width: 58px;
				text-align: right;
				padding: 1px 1px 0 0;
				color: $white;
				font-size: 20px;
				background-color: #2075CB;
				border-left: 2px solid #2075CB;
				border-bottom: 2px solid #2075CB;
				border-bottom-left-radius: 100%;

				.percentile {
					padding-right: 3px;
					word-spacing: -3px;
				}

				.rank-text {
					padding-right: 7px;
					font-size: 12px;

					.usage-label {
						display: flex;
						font-size: 15px;
					}
				}
		  }
}


