@import "../../styles/app-spinner";

app-spinner {
  .spinner {
    position: absolute;
    height: 80px;
    top: 35%;
    left: calc(50% - 80px);
    z-index: 10;

    .svg-logo {
      position: relative;
      margin: auto;
      bottom: 52px;

      svg {
        width: auto;
        height: 3vh;
      }
    }
  }
}
