@import "../../styles/variables";

edit-meter-form {
  .form-header {
    margin: 0 !important;
  }

  .cancel-btn {
    color: $steel-grey;
    font-size: 1.5rem;
    width:15vw;
    text-transform: none;
  }

  .edit-title{
    text-align: center;
  }

  .delete-btn {
    font-size: 1.5rem;
    width: 15vw;
    text-transform: none;
  }

  ion-content {
    position: relative;
    .scroll-content {
      overflow-y: hidden;
    }

    form {
      width: 100%;
    }
  }

  .save-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.5rem;
    background-color: $navigation-icon;
    color: $white;
    height: 45px;
    width: 100%;
  }
}
