<!-- Form Header -->

<!-- Form content -->
<ion-content>
  <ion-header class="form-header">
    <ion-navbar color="light" hideBackButton="true">
      <ion-buttons left>
        <button
          ion-button color="navbar-button"
          class="cancel-btn"
          (click)="_onCancel()"
        >
          Cancel
        </button>
      </ion-buttons>

      <div class="edit-title">Edit Meter</div>

      <ion-buttons end>
        <button
          ion-button
          color="danger"
          class="delete-btn"
          (click)="_onDeleteClick()"
        >
          Delete
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  <form [formGroup]="_editMeter">
    <ion-item>
      <ion-label floating color="text" stacked>Name</ion-label>
      <ion-input readonly formControlName="name"></ion-input>
    </ion-item>

    <ion-item class="meter-input">
      <ion-label floating color="text" stacked>Billing Start Date</ion-label>
      <ion-input type="number" formControlName="billingStart" max="28" min="1"></ion-input>
    </ion-item>

    <ion-item class="meter-input">
      <ion-label floating color="text" stacked>Goal Amount</ion-label>
      <ion-input formControlName="goal" class="money" type="number" min="0"></ion-input>
    </ion-item>

    <ion-item class="meter-input">
      <ion-label floating color="text" stacked>Provider</ion-label>
      <ion-input readonly formControlName="provider"></ion-input>
    </ion-item>

    <ion-item class="meter-input">
      <ion-label floating color="text" stacked>Meter Number</ion-label>
      <ion-input readonly formControlName="meterNumber"></ion-input>
    </ion-item>
  </form>

  <button (tap)="_save()" class="save-btn flex">Save</button>
</ion-content>
