// HomePage and navbar colors

$background-color: #EDEFF2;
$navbar-color: #BDBEC0;

// Navigation bar colors
$navigation-border: #EDEFF2;
$navigation-icon: #21A8DE;
$item-selected: #D7EFF9;

// Color palette
$white: #fff;
$black: #000;
$alabaster: #fafafa;
$azure: #00a8e2;
$curious-blue: #1f80dd;
$ocean-blue: #005eb8;
$shamrock: #00b155;
$slate-grey: #515663;
$pastel-red: #ea5c50;
$slime-green: #82d00d;
$cerulean: #008dbf;
$steel-grey: #7a7e88;
$geyser: #d1d9e0;
$athens-gray: #f9fafb;
$deep-green: #006500;
$cadet-blue: #a2b3bf;
$blue-grey: #7e94a3;
$dusty-gray: #969696;
$dove-gray: #626262;
$gull-gray: #a4b2bc;
$lighter-blue-grey: #bac5cd;
$light-blue-grey: #ecf0f2;
$pale-grey: #f3f5f9;
$gallery: #eaeaea;
$light-gallery: #f0f0f0;
$white-lilac: #f1f4fa;
$wild-sand: #f9fafb;
$mystic: #e4eaf0;
$alto: #dedede;
$light-grey: #f4f5f9;
$ice-white: #fcfcfe;
$sun-yellow: #ffde18;
$aluminium: #a1a3a8;
$royal-blue: #7250ea;
$lighting-yellow: #ffc418;
$eggshell: #fffcd6;
$dark-sky-blue: #3faae0;
$dark-sky-blue-shadow: #0f85af;
$dark-grey-blue: #34485e;
$pink: #ed018a;
$spring-green: #3fe05a;
$apple: #35b845;
$light-green: #e5ffe8;
$soft-red: #fd7373;
$hold-color: #ffc418;

// Font-family
$bryant-regular: "Bryant Pro Regular";
$bryant-alternate: "Bryant Pro Bold Alternate";
