@import "../../styles/variables";

page-home {
  .content-md, .content-ios {
    background-color: $background-color;
  }

  .scroll-content {
    padding-top: 0 !important;
  };

  .navbar {
    height: 8vh;
    padding: 4px 12px;
  }

  .cog {
    margin:auto;
    height: 3.25vh;
    color: #2d2d2d;
  }

  div.toolbar-title {
    color: #29ACE0 !important;
    font-family: $bryant-alternate, sans-serif;
    font-size: 4.75vh;
    text-align: center;
  }

  mark {
    color: $navbar-color;
    background: none;
  }

  .navbar-button {
    font-size: 4.75vh !important;
  }

}
