@import "../../styles/variables";

.side-menu-open {
  transform: translateX(220px) scale(.85, .85) !important;
  transition: all .4s 0s;
}

page-home {
  .content-md, .content-ios {
    background-color: $background-color;
  }

  .scroll-content {
    padding-top: 0 !important;
  };

  .navbar {
    height: 8vh;
    padding: 4px 12px 8px 12px;
  }

  .cog {
    border: 1px solid #fff;
    margin:auto;
    width: 3.35vh;
    height: 3.25vh;
  }

  div.toolbar-title {
    color: #29ACE0 !important;
    font-family: $bryant-alternate, sans-serif;
    font-size: 4.75vh;
    text-align: center;
  }

  .toolbar-title-ios {
    padding: 0 12px 4px 12px;
  }

  .toolbar-title-md {
    padding: 0 12vw 0px 2vw;
  }

  .navbar-button {
    font-size: 4.75vh !important;
  }

}
