neighborhood-comparison {
  .show-all {
    position: absolute;
    text-align: right;
    right: 10px;
    margin-right: 20px;
    z-index: 10;
  }

  .legends {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 20px;

    .legend {
      display: flex;
      flex-direction: column;
      align-items: center;

      .circle {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        margin-right: 3px;
      }

      .series-label {
        display: flex;
        align-items: center;
      }

      .cost-label {
        font-size: 26px !important;
        margin-top: 3vh !important;
      }

      .usage-label {
        display: flex;
        font-size: 15px !important;
      }
    }
  }
}
