<form [formGroup]="_addMeter" (submit)="submitForm">
  <!--Pick Utility Type-->
  <section *ngIf="_step === 1" class="text-container">
    <h4>What type of utility do you want to add?</h4>
    <div *ngIf="_providerTypes$ | async as utilityTypes">
      <ion-list radio-group formControlName="utilityType" class="list-container" (ionChange)="_getCountries()">
        <ion-item class="utility-type" *ngFor="let type of utilityTypes">
          <ion-label>
            <span class="util-type-title">{{ type }}</span>
          </ion-label>
          <ion-radio value="{{ type }}"></ion-radio>
        </ion-item>
      </ion-list>
    </div>
  </section>
  <!--Meter number and billing start date-->
  <section *ngIf="_step === 2" class="text-container">
    <h4>What is this utility's meter number and billing start date?</h4>
    <ion-item (keyup.enter)="_keyboardSubmit()" class="meter-number">
      <ion-label stacked>Meter Number (no spaces or hyphens)</ion-label>
      <ion-input showWhen="ios"
         formControlName="meterNumber"
         type="text"
         [class.invalid]="!_addMeter.controls['meterNumber'].valid && _addMeter.controls['meterNumber'].touched">
      </ion-input>
      <ion-input showWhen="android"
         formControlName="meterNumber"
         type="text">
      </ion-input>
    </ion-item>
    <ion-item (keyup.enter)="_keyboardSubmit()" class="meter-number">
      <ion-label stacked>Billing Start Date (day of month)</ion-label>
      <ion-datetime formControlName="billingStart" displayFormat="MMM D"></ion-datetime>
    </ion-item>
  </section>
  <!--Provider information-->
  <section *ngIf="_step === 3" class="text-container">
    <h4>Select your provider information</h4>
    <div *ngIf="_providerCountries$ | async as countries">
      <ion-item>
        <ion-label>Country</ion-label>
          <ion-select formControlName="country" (ionChange)="_getRegions()">
            <ion-option *ngFor="let country of countries" [value]="country">
              {{ country }}
            </ion-option>
          </ion-select>
      </ion-item>
    </div>
    <div *ngIf="_providerRegions$ | async as regions">
      <ion-item>
        <ion-label>Region</ion-label>
        <ion-select formControlName="region" (ionChange)="_getProviders()">
          <ion-option *ngFor="let region of regions" [value]="region">
            {{ region }}
          </ion-option>
        </ion-select>
      </ion-item>
    </div>
    <div *ngIf="_providerServiceProviders$ | async as providers">
      <ion-item>
        <ion-label>Provider</ion-label>
        <ion-select formControlName="provider" (ionChange)="_getPlans()">
          <ion-option *ngFor="let provider of providers" [value]="provider">
            {{ provider }}
          </ion-option>
        </ion-select>
      </ion-item>
    </div>
    <div *ngIf="_providerPlans$ | async as plans">
      <ion-item>
        <ion-label>Plan</ion-label>
        <ion-select formControlName="plan">
          <ion-option *ngFor="let plan of plans" [value]="plan">
            {{ plan }}
          </ion-option>
        </ion-select>
      </ion-item>
    </div>
  </section>
  <!--Setting a spending goal-->
  <section *ngIf="_step === 4" class="text-container">
    <h4>Do you want to include a spending goal?</h4>
    <ion-item (keyup.enter)="_keyboardSubmit()" class="spending-goal">
      <ion-label floating>Spending Goal</ion-label>
      <ion-input formControlName="goal" type="number" min="0"></ion-input>
    </ion-item>
  </section>
  <!--Name Your meter-->
  <section *ngIf="_step === 5" class="text-container">
    <h4>Last but not least, let's give this meter a name.</h4>
    <ion-item (keyup.enter)="_keyboardSubmit()" class="meter-name" formControlName="name">
      <ion-label floating>Meter Name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
  </section>
  <section class="button-section">
    <button ion-button
      *ngIf="_step >= 2"
      class="form-nav-button-back"
      color="primary"
      (tap)="_decStep()"
      type="submit"
    >
      Back
    </button>
    <button ion-button
      *ngIf="_step <= 4 && _step !== 2"
      class="form-nav-button"
      color="primary"
      (tap)="_incStep()"
      type="submit"
    >
      Next
    </button>
    <button ion-button
            *ngIf="_step === 2"
            class="form-nav-button"
            color="primary"
            (tap)="_validateMeter()"
            type="submit"
    >
      Next
    </button>
    <button ion-button
      [disabled]="!_addMeter.value['name']"
      class="form-nav-button"
      color="primary"
      (tap)="_saveMeter()"
      *ngIf="_step === 5"
      type="submit"
    >
      Save
    </button>
  </section>
</form>
