<form [formGroup]="addMeter" (submit)="submitForm">
  <section *ngIf="_step == 1" class="text-container">
    <h4>What type of utility do you want to add?</h4>
    <ion-list radio-group formControlName="utilityType" class="list-container">
      <ion-item *ngFor="let type of utilityTypes">
        <ion-label>
          <!--<i class="{{iconName(type)}}"-->
             <!--[class.unselected-util-type]="addMeter.value['utilityType'] != type"-->
             <!--[style.color]="iconColor(type)">-->
          <!--</i>-->
          <span class="util-type-title">{{type}}</span>
        </ion-label>
        <ion-radio value="{{type}}"></ion-radio>
      </ion-item>
    </ion-list>
  </section>
  <section *ngIf="_step == 2" class="text-container">
    <h4>What is this utility's meter number and billing start date?</h4>
    <ion-item (keyup.enter)="keyboardSubmit()" class="meter-number">
      <ion-label stacked>Meter Number (no spaces or hyphens)</ion-label>
      <ion-input showWhen="ios"
                 #meterId
                 formControlName="meterNumber"
                 type="text"
                 [class.invalid]="!addMeter.controls['meterNumber'].valid && addMeter.controls['meterNumber'].touched">
      </ion-input>
      <ion-input showWhen="android"
                 #meterId
                 formControlName="meterNumber"
                 type="text">
      </ion-input>
    </ion-item>
    <ion-item (keyup.enter)="keyboardSubmit()" class="meter-number">
      <ion-label stacked>Billing Start Date (day of month)</ion-label>
      <ion-datetime formControlName="billingStart" displayFormat="MMM D"></ion-datetime>
    </ion-item>
  </section>
  <section *ngIf="_step == 3" class="text-container">
    <h4>Select your provider information</h4>
    <ion-item>
      <ion-label>Country</ion-label>
      <ion-select formControlName="country" (ionChange)="getRegions()">
        <ion-option *ngFor="let country of countries" [value]="country">
          {{country}}
        </ion-option>
      </ion-select>
    </ion-item>
    <div *ngIf="addMeter.value['country']">
      <ion-item>
        <ion-label>Region</ion-label>
        <ion-select formControlName="region" (ionChange)="getProviders()">
          <ion-option *ngFor="let region of regions" [value]="region">
            {{region}}
          </ion-option>
        </ion-select>
      </ion-item>
    </div>
    <div *ngIf="addMeter.value['region']">
      <ion-item>
        <ion-label>Provider</ion-label>
        <ion-select formControlName="provider" (ionChange)="getPlans()">
          <ion-option *ngFor="let provider of providers" [value]="provider">
            {{provider.name}}
          </ion-option>
        </ion-select>
      </ion-item>
    </div>
    <div *ngIf="addMeter.value['provider']">
      <ion-item>
        <ion-label>Plan</ion-label>
        <ion-select formControlName="plan" (ionChange)="proceed()">
          <ion-option *ngFor="let plan of plans" [value]="plan">
            {{plan.name}}
          </ion-option>
        </ion-select>
      </ion-item>
    </div>
  </section>
  <section *ngIf="_step == 4" class="text-container">
    <h4>Do you want to include a spending goal?</h4>

    <ion-item (keyup.enter)="keyboardSubmit()" class="spending-goal">
      <ion-label floating>Spending Goal</ion-label>
      <ion-input formControlName="goal" type="number" min="0"></ion-input>
    </ion-item>
  </section>
  <section *ngIf="_step == 5" class="text-container">
    <h4>Last but not least, let's give this meter a name.</h4>

    <ion-item (keyup.enter)="keyboardSubmit()" class="meter-name" formControlName="name">
      <ion-label floating>Meter Name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
  </section>
  <section class="button-section">
    <button ion-button
            *ngIf="_step >= 2"
            class="form-nav-button-back"
            color="primary"
            (tap)="previousStep()"
            type="submit">
      Back
    </button>
    <button ion-button
            *ngIf="_step <= 4"
            class="form-nav-button"
            color="primary"
            (tap)="nextStep()"
            type="submit">
      Next
    </button>
    <button ion-button
            [disabled]="!addMeter.value['name']"
            class="form-nav-button"
            color="primary"
            *ngIf="_step == 5"
            type="submit">
      Save
    </button>
  </section>
</form>
