// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$primary: #29ACE0;
$background: #143948;
$accent: #3A545C;
$status-warning-color: #FFCD52;
$status-bad-color: #C22A17;
$text-input-highlight-color-valid: #29ACE0;
$text-input-md-highlight-color-valid: #29ACE0;
$cordova-ios-statusbar-padding: 0px !important;
$navbar-ios-height:5rem;
$vu-white: #dddddd;
$alert-text: #21A8DE;
$alert-border: #9DAEB2;

a {
  text-decoration: none;
  color: $primary;
}

// Standardized button height
.button-md{
  text-transform: none;
  height: 5vh;
  font-size: 2.5vh;
}

.button-ios{
  text-transform: none;
  height: 5vh;
  font-size: 2.5vh;
}

.vu-blue-text {
  color: $primary;
  font-family: "Bryant Pro Bold Alternate";
}

.vu-white-text {
  color: $vu-white;
  font-family: "Bryant Pro Bold Alternate";
}

// removes iOS padding in navbar
.ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment, .ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title {
  padding-top: 0 !important;
}

.ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child {
  padding-top: 0 !important;
}

// Adds blue line on inputs for valid inputs
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: $primary;
}

.item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: $primary;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  box-shadow: inset 0 -1px 0 0 $primary !important;
}

.item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  box-shadow: inset 0 -1px 0 0 $primary !important;
}

.meter-toast {
  .toast-wrapper{
    background: none;
  }
  .toast-container{
    background-color: #535969;
  }
}

.timespan-alert.alert-md {
  padding: 50px;

  .alert-wrapper {
    width: 50%;
    position: absolute;
    top: 9%;
    border-radius: 10px;
    overflow: hidden;
  }

  .alert-button-group {
    padding: 0;
  }

  .alert-head {
    height: 0;
    padding: 0px !important;
  }
  .alert-button {
    margin: 0;
    border-radius: 0;
    height: 8vh;
    color: $alert-text !important;
    font-size: 2.75vh;
    border: .75px solid $alert-border;
    text-transform: capitalize;


    .button-inner {
      justify-content: center;
    }
  }
}

.timespan-alert.alert-ios {
  .alert-wrapper {
    width: 60%;
    position: absolute;
    top: 10%;
    border-radius: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .alert-button-group {
    padding: 0;
  }

  .alert-message:empty {
    padding: 0;
  }

  .alert-head {
    height: 0;
    padding: 0;
  }

  .alert-button {
    margin: 0;
    height: 8vh;
    margin: 0;
    border-radius: 0;
    text-transform: capitalize;
    color: $alert-text !important;
    font-size: 2.75vh;
    border: .15px solid $alert-border;
  }

  .alert-button:last-child {
    font-weight: normal;
  }
}

.timespan-selected {
  background-color: $vu-white !important;
  opacity: .5;
}

.timespan-option-btn .button-inner {
  justify-content: center !important;
  text-transform: capitalize;
}

