@import "../../styles/variables";

page-reset-password {
  .ion-navbar {
    text-align: center;
    padding-right: 12vw;
  }

  div.toolbar-title {
    color: $navbar-text !important;
    font-size: 20px;
  }

  h1 {
    font-size: 3.25vh;
    margin: 0;
  }

  .password-header {
    color: $header-text;
    padding: 0 8%;
    margin: 4vh 0;
  }

  form {
    width: 100%;
    margin: 2vh 0;
  }

  .email-input {
    padding: 0 10%;
  }

  .form-offset {
    padding: 0 10%;
  }

  .content-text {
    font-size: 2.25vh;
    color: $header-text;
  }

  .submit-button {
    margin: 0;
    height: 8vh;
  }

  ion-input {
    padding: 5px;
    color: $header-text;
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }

}
