line-chart {
  .chart-container {
    position: relative;

    .loading {
      position: absolute;
      top: 40%;
      left: 25%;
    }
  }

  .tick line {
    opacity: .1;
  }

  .line-path {
    fill: none;
  }
}
