line-chart {
  .chart-container {
    position: relative;

    .no-data {
      position: absolute;
      top: 40%;
      left: 44%;
    }

    .tick line {
      opacity: .1;
    }

    .line-path {
      fill: none;
    }

    .area {
      opacity: .2;
    }

    .circle {
      border-radius: 50%;
      width: 12px;
      height: 12px;
      margin-right: 3px;
    }

    .legends {
      display: flex;
      justify-content: space-around;
      position: relative;
      bottom: 20px;

      .legend {
        display: flex;
        align-items: center;
      }
    }
  }

}
