@import "../../styles/app-spinner";

line-chart {
  .chart-container {
    position: relative;

    .loading {
      position: absolute;
      top: 20%;
      left: 20%;

      .text {
        margin-top: 10px;
      }
    }

    .no-data {
      position: absolute;
      top: 40%;
      left: 44%;
    }

    .tick line {
      opacity: .1;
    }

    .line-path {
      fill: none;
    }

    .area {
      opacity: .2;
    }
  }

}
