menu-items {
  .list-md .item-block .item-inner {
    border-bottom: none !important;
  }

  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: none !important;
  }

  .menu-content {
    background: none;
    .scroll-content {
      overflow-y: hidden !important;
      background: none;
    }
  }

  // Side Menu
  .menu-items {
    padding-top: 25vw;
    background: none;
    .item-md {
      background: none;
      padding-left: 14vw;
    }
    .item-inner {
      margin-left: 5px !important;
    }
    button {
      background: none;
      color: $background-color;
      ion-icon {
        opacity: .8;
        color: $vutiliti-blue;
      }
    }
  }

}
