@import "../../styles/variables";

time-span {
  .timespan-alert.alert-md {
    padding: 50px;

    .alert-wrapper {
      width: 80%;
      position: absolute;
      top: 9%;
      border-radius: 0;
    }

    .alert-button-group {
      padding: 0;
    }

    .alert-head {
      height: 0;
      padding: 0px !important;
    }
    .alert-button {
      margin: 0;
      border-radius: 0;
      height: 8vh;
      color: $alert-text !important;
      font-size: 2.5vh;
      border: .75px solid $alert-border;

      .button-inner {
        justify-content: center;
      }
    }
  }

  .timespan-alert.alert-ios {
    .alert-wrapper {
      width: 80%;
      position: absolute;
      top: 10%;
      border-radius: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .alert-button-group {
      padding: 0;
    }

    .alert-message:empty {
      padding: 0;
    }

    .alert-head {
      height: 0;
      padding: 0;
    }

    .alert-button {
      margin: 0;
      height: 8vh;
      margin: 0;
      border-radius: 0;
      text-transform: capitalize;
      color: $alert-text !important;
      font-size: 2.5vh;
      border: .75px solid $alert-border;
    }

    .alert-button:last-child {
      font-weight: normal;
    }
  }

  .timespan-selected {
    background-color: $vu-white !important;
    opacity: .5;
  }

  .timespan-option-btn .button-inner {
    justify-content: center !important;
    text-transform: capitalize;
  }
  .timeSpan {
    text-transform: capitalize;
  }

  .btn-selected {
    color: $gull-gray !important;
  }

  .btn-selected {
    color: $primary !important;
  }

  .button-md-light {
    color: $primary !important;
  }

  .button-md {
    box-shadow: none;
    height: 3.5rem;
  }

  .button-group {
    width: 70%;
    margin: auto;
    ion-col {
      button {
        color: #29ACE0 !important;
        border: 1px solid #9DAEB2;
      }

      &:first-child:not(:last-child) {
        padding-right: 0;
        .button {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          border-right: 0px;
        }
      }
      &:not(:first-child):not(:last-child) {
        padding-right: 0;
        padding-left: 0;
        .button {
          border-radius: 0;
        }
      }
      &:last-child:not(:first-child) {
        padding-left: 0;
        .button {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          border-left: 0px;
        }
      }
    }
  }
}
